.git
.github
.Rhistory
.RData
.Rproj.user
frontend/node_modules
frontend/dist
frontend/.env
resultados
trabajos
*.pdf
*.zip
*.aux
*.log
*.out
*.toc
*.synctex.gz
prueba*.tex
solucion*.tex
estudiantes.txt
